*.hex
*.bin
*.gcode

tmp/*
!tmp/.keep

cmake-build-debug/
cmake-build-release/

build/

serials.yml
.vscode/
.vs/
.idea/
node_modules/
.local/ 
managed_components/

~*
.pio
vendor/
tmp/
*.code-workspace
__pycache__/

*.old.DS_Store
.DS_Store

platformio.sln
platformio.vcxproj
platformio.vcxproj.filters
platformio.vcxproj.user
platformio.log
dependencies.lock
