:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: top center;
  min-height: 100vh;
}

h2 {
  margin: 0;
}

#app {
  width: 100vw;
}

.radioBoxes {
  margin-top: 1em;
  display: flex;
  justify-content: space-evenly;
}
.radioBox {
  border: 1px solid gray;
  padding: 0.25em;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  width: auto;
}
.radioBoxItem {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  input {
    margin: .25em .25em .25em.75em;
    cursor: pointer;
  }
  label {
    cursor: pointer;
  }
}

.radioChosen {
  font-weight: bold;
  color: red;
}


.statBoxButton {
  cursor: pointer;
  border: 1px solid gray;
  padding: 0.25em;
  display: inline-block;
  white-space: nowrap;
  border-radius: 4px;

} 

.mainContainer {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 0px;
  border: 1px solid #333;
}

.settingsDialog {
  padding: 1em;
  border: 1px solid #eee;
  border-radius: 8px;
  background-color: #333;
  max-width: 1000px;
  position: absolute; 
  top: 10%; 
  width: 80%; 
  margin: auto; 
  padding: 1em;  
  vertical-align: top;
}


.statBoxes {
  margin-top: .1em;
  display: flex;
  justify-content:space-evenly;
  width: 100%;
}

#auto_edging_duration_minutes {
  accent-color: red; 
  background: linear-gradient(to right, red 0%, red 100%);
}

.settingSliders #max_denied {
  accent-color: red; 
  background: linear-gradient(to right, red 0%, red 100%);
}

.btButton {
  cursor: pointer;
  margin: .2%;
  padding-bottom: 0;
  border-radius: 5px;
}

@media screen and (max-width: 800px) {
  .radioBoxes {
    flex-direction: column;
    align-items: center;
  }
  .radioBox {
    display: flex;
    justify-content: space-around;
    margin-bottom: .3em;
    width: 75%;
    font-size: 0.5em;
  }
  .statBoxButton {
    font-size: 0.5em;
  }
}
